button{
    background-color: black;
    color: white;
    width: 100px;
    border-radius: 5px;
/* border-radius arredonda as bordas */
    border: solid 2px green;

}
/* configura como fica quando passar o cursor em cima do botão */
button:hover{
    background-color: rgb(204, 0, 0);
    color: black;
    border-color: rgb(13, 61, 1);
    cursor: pointer;
}
    
/* configurando para mudar aa cor do texto ao passar o cursor */
p:hover{
    background-color: bisque;
    cursor: pointer;
}

input:focus{
    background-color: antiquewhite;
}

/* first-child seleciona o primeiro filho (tag) e last-child acha a ultima nth-child(4)  seleciona a q você qiser */
li:nth-child(3){
    border:1px solid orangered;
}


/* aqui você consegue fazer configurações depois da tag */
#P2::after{      
    content: " - aqui eu add o after";
    border: 1px dotted black;
}

/* aqui você consegue fazer confifurações antes da tag */

#P2::before{
    content: "aqui eu add o before";
    border: solid 2px red;
}

.P3::first-letter{
    font-size: 40px;    
    color: brown;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}


.P3::first-line{
    background-color: aquamarine;
    color:blue;
}

#P5::selection{
    background-color: yellow;
    color: blue;
   
}

/* #P5::selection{
    background-color: yellow;
    color: blue;    aqui selecionamos outra cor de fundo e cor ao selecionar o texto */


   


/* font-size: 40px; tamanho da fonte    
    color: brown; cor 
    font-family:Georgia, 'Times New Roman', Times, serif; (fonte)
    font-weight: 500; espessura da fonte*/ 